<div class="bosesoundtouch" style="background-color:#2f3032; padding:12px 0; margin-top:1px; width:152px; height:152px;" data-type="info" data-subtype="string" data-cmd_id="#id#" data-version="#version#">
    <span></span>
    <script>
        jeedom.cmd.update['#id#'] =function(options) {
            $('.bosesoundtouch[data-cmd_id=#id#] span').empty()
            .append('<img src="'+options.value+'" title="'+options.valueName+', Valeur du '+options.valueDate+'" style="width:128px;height:128px;">');
        }
        jeedom.cmd.update['#id#']({ value:'#value#', valueDate:'#valueDate#', valueName:'#valueName#' });
    </script>
</div>
