<div class="eqLogic eqLogic-widget noResize allowReorderCmd soundtouch_widget" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;#style#" data-category="#category#" data-tags="#data-tags#">
	<link rel="stylesheet" href="plugins/BoseSoundTouch/core/template/dashboard/css/remote.css" />
	<span class="statusCmd" style="position: absolute; left: 5px; top: 5px; width: 20px; z-index: 1030;"></span>
	<div class="soundtouch_widget">

		<div class="soundtouch_name">
			<a href="#eqLink#" class="reportModeHidden" style="#hideEqLogicName#">#name_display#</a>
		</div>

		<div>
			<div class="soundtouch_span">
				#CMD_REFRESH#
				#CMD_POWER#
			</div><div class="soundtouch_span">
				#CMD_INFO_PLAYING#
			</div><div class="soundtouch_span">
				#CMD_VOLUME_UP#
				#CMD_VOLUME_DOWN#
				#CMD_MUTE#
			</div>
		</div>

		<div>
			<div class="soundtouch_span">
				#CMD_TRACK_PREV#</div><div class="soundtouch_span">
				#CMD_PLAY#</div><div class="soundtouch_span">
				#CMD_PAUSE#</div><div class="soundtouch_span">
				#CMD_STOP#</div><div class="soundtouch_span">
				#CMD_TRACK_NEXT#
			</div>
		</div>

		<div>
			<div class="soundtouch_span">
				#CMD_PRESET_1#
				#CMD_PRESET_4#
			</div><div class="soundtouch_span">
				#CMD_PRESET_2#
				#CMD_PRESET_5#
			</div><div class="soundtouch_span">
				#CMD_PRESET_3#
				#CMD_PRESET_6#
			</div><div class="soundtouch_span">
				#CMD_TV#
				#CMD_BLUETOOTH#
			</div>
		</div>
	
	</div>

</div>