<div class="eqLogic eqLogic-widget bose_player_widget" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;height:21em;#style#">
	<link rel="stylesheet" href="plugins/BoseSoundTouch/core/template/mobile/css/player.css" />
	<span class="statusCmd" style="position: absolute; left: 5px; top: 5px; width: 20px; z-index: 1030;"></span>
	<div class="bose_player_widget">

		<div class="bose_player_name">#name_display#</div>

		<div class="bose_player_menu">
			<div class="cmd" data-cmd_id="#POWER_ID#" onclick="jeedom.cmd.execute({id: '#POWER_ID#'});">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/power.png" title="Power">
			</div>
			<div class="cmd volume">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/volume.png" title="Volume">
			</div>
			<div class="cmd" data-cmd_id="#REFRESH_ID#" onclick="jeedom.cmd.execute({id: '#REFRESH_ID#'});">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/refresh.png" title="Refresh">
			</div>
			<div class="cmd presets">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/presets.png" title="Presets">
			</div>
			<div class="cmd select">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/menu.png" title="Menu">
			</div>
		</div>

		<div class="bose_player_volume">
			<div class="cmd full-width-slider slider" data-cmd_id="#VOLUME_SET_ID#" style="width:100%; text-align:right; min-width:100px;">
				<input type="range" min="0" max="100" data-theme="a" value="#VOLUME_VALUE#"/>
			</div>
		</div>

		<div class="bose_player_presets">
			<div>
				<img data-cmd_id="#PRESET_1_ID#" src="#PRESET_1_ICON#" title="#PRESET_1_NAME#" onclick="jeedom.cmd.execute({id: '#PRESET_1_ID#'});">
				<img data-cmd_id="#PRESET_2_ID#" src="#PRESET_2_ICON#" title="#PRESET_2_NAME#" onclick="jeedom.cmd.execute({id: '#PRESET_2_ID#'});">
				<img data-cmd_id="#PRESET_3_ID#" src="#PRESET_3_ICON#" title="#PRESET_3_NAME#" onclick="jeedom.cmd.execute({id: '#PRESET_3_ID#'});">
			</div>
			<div style="margin-top: 5px;">
				<img data-cmd_id="#PRESET_4_ID#" src="#PRESET_4_ICON#" title="#PRESET_4_NAME#" onclick="jeedom.cmd.execute({id: '#PRESET_4_ID#'});">
				<img data-cmd_id="#PRESET_5_ID#" src="#PRESET_5_ICON#" title="#PRESET_5_NAME#" onclick="jeedom.cmd.execute({id: '#PRESET_5_ID#'});">
				<img data-cmd_id="#PRESET_6_ID#" src="#PRESET_6_ICON#" title="#PRESET_6_NAME#" onclick="jeedom.cmd.execute({id: '#PRESET_6_ID#'});">
			</div>
		</div>

		<div class="bose_player_select">
			<ul>
				#SOURCES_LIST#
			</ul>
		</div>

		<div class="bose_player_playing">
			<div class="preview"><img src="#PREVIEW#"></div>
			<div class="artist">#TRACK_ARTIST_VALUE#</div>
			<div class="track">#TRACK_TITLE_VALUE#</div>
		</div>



		<div class="bose_player_commands">	
			<div class="cmd cursor mode" data-cmd_id="#REPEAT_ID#" style="padding-top: 8px;">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/#REPEAT_VALUE#.png" title="Repeat">
			</div>
			<div class="cmd cursor step" data-cmd_id="#TRACK_PREV_ID#" style="padding-top: 4px;" onclick="jeedom.cmd.execute({id: '#TRACK_PREV_ID#'});">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/track-prev.png" title="Previous">
			</div>
			<div class="cmd cursor play" data-cmd_id="#PLAY_PAUSE_ID#" onclick="jeedom.cmd.execute({id: '#PLAY_PAUSE_ID#'});">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/play.png" title="Play">
			</div>
			<div class="cmd cursor step" data-cmd_id="#TRACK_NEXT_ID#" style="padding-top: 4px;" onclick="jeedom.cmd.execute({id: '#TRACK_NEXT_ID#'});">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/track-next.png" title="Next">
			</div>
			<div class="cmd cursor mode" data-cmd_id="#SHUFFLE_ID#" style="padding-top: 8px;">
				<img src="plugins/BoseSoundTouch/core/template/dashboard/images/#SHUFFLE_VALUE#.png" title="Shuffle">
			</div>
		</div>
		
	</div>

	<script>
		// Touche POWER
		jeedom.cmd.update['#POWER_ID#'] = function (options) {
			$('.cmd[data-cmd_id=#POWER_ID#]').empty()
			.append('<img src="plugins/BoseSoundTouch/core/template/dashboard/images/#PLAYING_VALUE#.png" title="Power">');
		}
		jeedom.cmd.update['#POWER_ID#']({ value:'#PLAYING_VALUE#' });

		// Touche VOLUME
		$('.bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_menu .volume').on('click', function (event, ui) {
			if ( ! $('.bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_volume').is(':visible') ) {
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_presets").hide();
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_select").hide();
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_volume").show();
			} else {
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_volume").hide();
			}
		});
		$("body").undelegate(".bose_player_widget[data-eqLogic_uid=#uid#] .slider",'slidestop');
		$("body").delegate(".bose_player_widget[data-eqLogic_uid=#uid#] .slider",'slidestop', function (event, ui) {
			jeedom.cmd.execute({id: '#VOLUME_SET_ID#', value: {slider: $(".bose_player_widget[data-eqLogic_uid=#uid#] .slider input").value()}});
		});

		// Touche Préselections
		$('.bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_menu .presets').on('click', function (event, ui) {
			if ( ! $('.bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_presets').is(':visible') ) {
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_volume").hide();
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_select").hide();
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_presets").show();
			} else {
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_presets").hide();
			}
		});

		// Touche SELECT
		$('.bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_menu .select').on('click', function (event, ui) {
			if ( ! $('.bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_select').is(':visible') ) {
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_volume").hide();
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_presets").hide();
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_select").show();
			} else {
				$(".bose_player_widget[data-eqLogic_uid=#uid#] .bose_player_select").hide();
			}
		});
		
		// REPEAT
		$('.bose_player_commands .cmd[data-cmd_id=#REPEAT_ID#]').on('click', function (event, ui) {
			if ( '#REPEAT_VALUE#' == 'repeat-off' ) {
				console.log('jeedom.cmd.execute(REPEAT_ALL)');
				jeedom.cmd.execute({id: '#REPEAT_ALL_ID#'});
			} else if ( '#REPEAT_VALUE#' == 'repeat-all' ) {
				console.log('jeedom.cmd.execute(REPEAT_ONE)');
				jeedom.cmd.execute({id: '#REPEAT_ONE_ID#'});
			} else if ( '#REPEAT_VALUE#' == 'repeat-one' ) {
				console.log('jeedom.cmd.execute(REPEAT_OFF)');
				jeedom.cmd.execute({id: '#REPEAT_OFF_ID#'});
			}
		});
		
		// SHUFFLE
		$('.bose_player_commands .cmd[data-cmd_id=#SHUFFLE_ID#]').on('click', function (event, ui) {
			if ( '#SHUFFLE_VALUE#' == 'shuffle-on' ) {
				console.log('jeedom.cmd.execute(SHUFFLE_OFF)');
				jeedom.cmd.execute({id: '#SHUFFLE_OFF_ID#'});
			} else if ( '#SHUFFLE_VALUE#' == 'shuffle-off' ) {
				console.log('jeedom.cmd.execute(SHUFFLE_ON)');
				jeedom.cmd.execute({id: '#SHUFFLE_ON_ID#'});
			}
		});

		// Touche PLAY PAUSE
		jeedom.cmd.update['#PLAY_PAUSE_ID#'] = function (options) {
			$('.cmd[data-cmd_id=#PLAY_PAUSE_ID#]').empty()
			.append('<img src="plugins/BoseSoundTouch/core/template/dashboard/images/#PLAY_PAUSE_VALUE#.png" title="Play / Pause">');
		}
		jeedom.cmd.update['#PLAY_PAUSE_ID#']({ value:'#PLAYING_VALUE#' });

	</script>

</div>

