<div class="cmd bosesoundtouch soundtouch_touch soundtouch_touch_power" data-type="action" data-subtype="other" data-cmd_id="#id#" data-version="#version#">
    <span></span>
    <script>
        $('.bosesoundtouch[data-cmd_id=#id#]:last').on('click', function () {
            jeedom.cmd.execute({id: '#id#'});
        });
        jeedom.cmd.update['#id#'] =function(options) {
            $('.bosesoundtouch[data-cmd_id=#id#] span').empty()
            .append('<img src="plugins/BoseSoundTouch/core/template/dashboard/images/power-#value#.png" title="#name#">');
        }
        jeedom.cmd.update['#id#']({ value:'#value#',valueDate:'#valueDate#',collectDate:'#collectDate#' });
    </script>
</div>