<div class="eqLogic eqLogic-widget soundtouch_widget" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;height: 14.9em;">
	<link rel="stylesheet" href="plugins/BoseSoundTouch/core/template/mobile/css/remote.css" />
	<span class="statusCmd" style="position: absolute; left: 5px; top: 5px; width: 20px; z-index: 1030;"></span>
	<div class="soundtouch_widget">
		<div class="soundtouch_name">#name_display#</div>

		<table style="width: 100%; border-spacing: 1px;">
			<tr>
				<td>#CMD_REFRESH#</td>
				<td rowspan="3">#CMD_INFO_PLAYING#</td>
				<td>#CMD_VOLUME_UP#</td>
			</tr>
			<tr>
				<td rowspan="2">#CMD_POWER#</td>
				<td>#CMD_VOLUME_DOWN#</td>
			</tr>
			<tr>
				<td>#CMD_MUTE#</td>
			</tr>
		</table>
		<table style="width: 100%; border-spacing: 1px;">
			<tr style="height: 2.2em;">
				<td>#CMD_TRACK_PREV#</td>
				<td>#CMD_PLAY#</td>
				<td>#CMD_PAUSE#</td>
				<td>#CMD_STOP#</td>
				<td>#CMD_TRACK_NEXT#</td>
			</tr>
		</table>
		<table style="width: 100%; border-spacing: 1px;">
			<tr style="height: 2.2em;">
				<td>#CMD_PRESET_1#</td>
				<td>#CMD_PRESET_2#</td>
				<td>#CMD_PRESET_3#</td>
				<td>#CMD_TV#</td>
			</tr>
			<tr style="height: 2.2em;">
				<td>#CMD_PRESET_4#</td>
				<td>#CMD_PRESET_5#</td>
				<td>#CMD_PRESET_6#</td>
				<td>#CMD_BLUETOOTH#</td>
			</tr>
		</table>

				
		

		

	</div>

</div>